.clients-section {
  @extend %section;
}

.clients-section__title {
  @extend %section__title;
}

.client-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.client {
  height: 92px;
  @media screen and (max-width: $mobile) {
    width: calc((100% - 30px) / 2);

    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 481px) {
    width: calc((100% - 2 * 30px) / 3);

    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }

    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 5 * 30px) / 6);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.client__link {
  display: flex;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;

  border: 1px solid $links-no-hover-color;
  border-radius: 4px;

  transition: border $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    cursor: pointer;
  }
}

.client__icon {
  fill: $links-no-hover-color;
  transition: fill $transition-duration $transition-timing-function;

  .client__link:hover &,
  .client__link:focus & {
    fill: $accent-color;
  }
}
