.backdrop-modal {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  overflow-y: scroll;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition: opacity $transition-duration $transition-timing-function;

  &--hidden {
    opacity: 0;
    pointer-events: none;
  }

  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.data-modal {
  height: 609px;
  padding: 40px;
  width: 100%;

  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (max-width: 767px) {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    transform: translate(-50%, -50%) scale(1);

    transition: transform $transition-duration $transition-timing-function;
    .backdrop-modal--hidden & {
      transform: translate(-50%, -50%) scale(0.9);
    }
  }

  @media screen and (min-width: $desktop) {
    width: 528px;
    height: 581px;
  }
}

.data-modal__close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  cursor: pointer;

  background-color: $primary-white-color;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.data-modal__close-icon {
  transition: fill $transition-duration $transition-timing-function;

  .data-modal__close:hover &,
  .data-modal__close:focus & {
    fill: $accent-color;
  }
}

.data-modal__header {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
  word-wrap: break-word;

  @media screen and (min-width: $desktop) {
    line-height: 1.15;
  }
}

.data-modal__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.data-modal__label {
  display: inline-block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.input-container {
  position: relative;
}

%input_textarea {
  width: 100%;

  padding-top: 11px;
  padding-bottom: 11px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border $transition-duration $transition-timing-function;

  @media screen and (min-width: $desktop) {
    font-size: 12px;
    line-height: 1.17;
  }
}

.data-modal__input {
  @extend %input_textarea;
  height: 40px;
  padding-left: 42px;
  padding-right: 12px;

  .data-modal__field:focus-within & {
    outline: none;
    border: 1px solid $accent-color;
  }
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill $transition-duration $transition-timing-function;

  .data-modal__field:focus-within & {
    fill: $accent-color;
  }
}

.data-modal__textarea {
  @extend %input_textarea;
  resize: none;
  height: 120px;

  padding-left: 16px;
  padding-right: 16px;

  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }

  .data-modal__field:focus-within > & {
    outline: none;
    border: 1px solid $accent-color;
  }
}

.confirmation__label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 2px solid $title-text-color;
  border-radius: 2px;
  transition: background-color $transition-duration $transition-timing-function,
    border-color $transition-duration $transition-timing-function;

  .checkbox:checked + & {
    background-color: $accent-color;
    border-color: transparent;
    background-image: url(../images/checkbox.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
  }
}

.confirmation__label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 30px;
  letter-spacing: 0.03em;

  font-size: 12px;
  line-height: 1.17;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.confirmation__text {
  margin-right: 4px;
}

.confirmation__link {
  display: block;
  text-align: center;
  text-decoration: underline;
  color: $accent-color;

  @media screen and (max-width: 479px) {
    margin-left: 23px;
  }
}

.submit-button {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  background-color: $accent-color;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $primary-white-color;
  cursor: pointer;

  transition: background-color $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}