.feature-section {
  padding-top: 60px;
  padding-bottom: 30px;

  @media screen and (min-width: 481px) {
    padding-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.feature-section__title {
  @extend %hidden;
}

.feature-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: $mobile) {
    display: block;
  }
}

.feature {
  width: 100%;

  @media screen and (min-width: 481px) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);

    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 3 * 30px) / 4);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.feature__image-block {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  background-color: $secondary-bg-white-color;
  border-radius: 4px;
}

.feature__name {
  margin-bottom: 10px;

  color: $title-text-color;

  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  text-transform: uppercase;

  @media screen and (max-width: $mobile) {
    text-align: center;
  }
}

.feature__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  @media screen and (max-width: $mobile) {
    margin-bottom: 30px;
  }
}
