.hero {
  text-align: center;

  max-width: 1600px;
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $hero-bg-color;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (max-width: $mobile) {
    padding-left: 2px;
    padding-right: 2px;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero@2x.jpg');
  }

  @media screen and (min-width: 481px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-tablet.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero-tablet@2x.jpg');
    }
  }

  @media screen and (min-width: 769px) {
    height: 600px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-desktop.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero-desktop@2x.jpg');
    }
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  color: $primary-white-color;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.data-modal__open {
  border-style: none;
  border-radius: 4px;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 10px;
  padding-bottom: 10px;

  transition: background-color $transition-duration $transition-timing-function;

  background-color: $accent-color;
  color: $primary-white-color;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;

  &:hover,
  &:focus {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
