.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;

  @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__part {
  color: $accent-color;
}

.page-header__logo {
  color: $title-text-color;

  @media screen and (min-width: $tablet) {
    margin-right: 88px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 93px;
  }
}

.page-footer__logo {
  color: $primary-white-color;
  display: block;
  margin-bottom: 20px;
}
