.menu-button {
  z-index: 2;
  display: inline-flex;
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;

  top: 10px;
  right: 15px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button__icon {
  transition: fill $transition-duration $transition-timing-function;

  .menu-button:hover &,
  .menu-button:focus & {
    fill: $accent-color;
  }
}

.menu-button.is-open .menu-button__icon--close {
  display: block;
}

.menu-button.is-open .menu-button__icon--menu {
  display: none;
}

.menu-button .menu-button__icon--close {
  display: none;
}

.menu-container {
  z-index: 1;
  background-color: $primary-white-color;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 48px;
    padding-bottom: 48px;

    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  @media screen and (max-width: 479px) {
    padding-bottom: 86px;
  }

  @media screen and (min-width: $tablet) {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.header-nav {
  @extend %list;
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.header-auth {
  @extend %list;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media screen and (min-width: $tablet) {
    margin-left: auto;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.header-nav__item,
.header-auth__item {
  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.header-nav__link,
.header-auth__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header-nav__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: $tablet) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.header-nav__link {
  color: $title-text-color;

  @media screen and (max-width: 479px) {
    font-size: 6vw;
  }

  @media screen and (min-width: $mobile) and (max-width: 767px) {
    font-size: 40px;
    line-height: 1.18;
  }

  @media screen and (min-width: $tablet) {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: center;
  }
}

.header-nav__link--active {
  color: $accent-color;

  @media screen and (min-width: $tablet) {
    &::after {
      content: '';

      position: absolute;
      left: 0;
      bottom: 0;

      width: 100%;
      height: 4px;

      background-color: $accent-color;
      border-radius: 2px;
    }
  }
}

.header-auth__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
    &:not(:last-child) {
      margin-bottom: 64px;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.header-auth__link {
  color: $primary-text-color;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: center;
  }
}

.header-auth__link.tel {
  @media screen and (max-width: 479px) {
    font-size: 6vw;
    color: $accent-color;
  }

  @media screen and (min-width: $mobile) and (max-width: 767px) {
    font-size: 34px;
    line-height: 1.18;
    color: $accent-color;
  }
}

.header-auth__link.mail {
  @media screen and (max-width: 479px) {
    font-size: 5vw;
  }

  @media screen and (min-width: $mobile) and (max-width: 767px) {
    font-size: 24px;
    line-height: 1.17;
  }
}

.header-auth__icon {
  fill: $primary-text-color;
  transition: fill $transition-duration $transition-timing-function;

  .header-auth__link:hover &,
  .header-auth__link:focus & {
    fill: $accent-color;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 10px;
  }
}

.header-social {
  @extend %list;
  display: inline-flex;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.header-social__item {
  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  &:not(:first-child) {
    padding-left: 10px;
  }
}

.header-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: $accent-color;

  @media screen and (max-width: 479px) {
    font-size: 3.5vw;
  }
}
