.page-footer {
  background-color: $footer-bg-color;
}

.page-footer__container {
  min-height: 603px;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: $tablet) {
    min-height: 463px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    min-height: 252px;
  }
}

.page-footer__contacts {
  display: flex;

  @media screen and (max-width: 767px) {
    display: block;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    justify-content: center;
  }
}

.page-footer__info {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    text-align: center;
    margin-right: 165px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 70px;
  }
}

.footer-links-list {
  @extend %list;
}

.footer-links-list__item:not(:last-child) {
  margin-bottom: 9px;
}

%footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-link__address {
  @extend %footer-link;
  font-style: normal;
  color: $primary-white-color;
}

.footer-link__auth {
  @extend %footer-link;
  color: $link-footer-white-color;
}

.page-footer__join {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 12px;
  }
}

.join-title {
  display: inline-block;
  margin-bottom: 20px;

  color: $primary-white-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*
.page-footer {
  background-color: $footer-bg-color;
  padding-bottom: 60px;
}

.page-footer__container {
  display: flex;
}

.page-footer__info {
  margin-right: 70px;
  margin-top: 60px;
}

.footer-links-list {
  @extend %list;
}

.footer-links-list__item:not(:last-child) {
  margin-bottom: 9px;
}

%footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-link__address {
  @extend %footer-link;
  font-style: normal;
  color: $primary-white-color;
}

.footer-link__auth {
  @extend %footer-link;
  color: $link-footer-white-color;
}

.page-footer__join {
  margin-top: 72px;
}

.join-title {
  display: inline-block;
  margin-bottom: 20px;

  color: $primary-white-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

*/
