.project-card {
  transition: box-shadow $transition-duration $transition-timing-function;
  margin-bottom: 30px;

  @media screen and (min-width: 481px) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);

    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 2 * 30px) / 3);

    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
  }
}

.project__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.project-card:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.project__image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 294px;
}

.project__image {
  height: 100%;
  object-fit: cover;
}

.project-card__text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  flex-grow: 1;

  border-bottom: 1px solid $border-card-color;
  border-left: 1px solid $border-card-color;
  border-right: 1px solid $border-card-color;
}

.project__name {
  margin-bottom: 4px;

  color: $title-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__type {
  color: $primary-text-color;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.project__description-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  overflow: hidden;

  transform: translateY(101%);
  transition: transform $transition-duration $transition-timing-function;
  background-color: $card-overlay-color;

  .project-card:hover &,
  .project__link:focus & {
    transform: translateY(0%);
  }
}

.project__description {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $primary-white-color;
}
