.social-links-list {
  @extend %list;
  display: flex;
  justify-content: center;
}

.social-links-list__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-link {
  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  transition: background-color $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.social-link__icon {
  fill: $links-no-hover-color;
  transition: fill $transition-duration $transition-timing-function;

  .social-link:hover &,
  .social-link:focus & {
    fill: $primary-white-color;
  }
}

.social-link--dark {
  background-color: $dark-social-link-color;
}

.social-link__icon--dark {
  fill: $primary-white-color;
}

/*
.social-links-list {
  @extend %list;
  display: flex;
  justify-content: center;
}

.social-links-list__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-link {
  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  transition: background-color $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.social-link__icon {
  fill: $links-no-hover-color;
  transition: fill $transition-duration $transition-timing-function;

  .social-link:hover &,
  .social-link:focus & {
    fill: $primary-white-color;
  }
}

.social-link--dark {
  background-color: $dark-social-link-color;
}

.social-link__icon--dark {
  fill: $primary-white-color;
}

*/
