.subscribe-form {
  margin-top: 60px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: $desktop) {
    margin-left: auto;
    display: flex;
    align-items: flex-end;
    width: 570px;
    height: 86px;
    margin-top: 12px;
  }
}

.subscribe-container {
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 358px;
    margin-right: 12px;
  }
}

.subscribe-form__label {
  display: block;
  margin-bottom: 20px;

  color: $primary-white-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.subscribe-form__input {
  width: 100%;
  max-width: 450px;
  height: 50px;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;

  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: $primary-white-color;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  transition: border-color $transition-duration $transition-timing-function;

  .subscribe-container:focus-within & {
    outline: none;
    border-color: $accent-color;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }
}

.subscribe-button {
  width: 200px;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;

  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  transition: background-color $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }

  @media screen and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.subscribe-button__text {
  color: $primary-white-color;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-right: 10px;
}
