$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$secondary-bg-white-color: #f5f4fa;
$footer-bg-color: #2f303a;
$link-footer-white-color: rgba(255, 255, 255, 0.6);
$border-card-color: #eeeeee;
$hero-bg-color: #c4c4c4;
$links-no-hover-color: #afb1b8;
$dark-social-link-color: rgba(255, 255, 255, 0.1);
$card-overlay-color: rgba(33, 150, 243, 0.9);
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
